<form class="example-form">
  <div>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Name">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Amount" type="number">
    </mat-form-field>
  </div>

  <div>
    <button mat-raised-button color="primary">Add</button>
    &nbsp;
    <button mat-raised-button color="warn">Delete</button>
    &nbsp;
    <button mat-raised-button color="accent">Clear</button>
    &nbsp;
  </div>

</form>
